<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battery RUL Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Battery RUL Prediction App</h1>
        <p>This web application will help you predict the Remaining Useful Life (RUL) of a battery based on its current condition.
            RUL is measured as the remaining Charge/Discharge Cycles.
        </p>
        <a href="/predict" class="button">Start Prediction</a>
    </div>
</body>
</html>
